{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "ignore": ["**/*.test.js"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "test-utils": "./test/utils",
          "repo-cooker": "./src"
        }
      }
    ]
  ]
}
